  body{
            background-color: rgb(212, 121, 121);
            color: white;
        }
        h1{
            color: rgb(219, 101, 101);
        }
        #html{
            color: blueviolet;
        }
        #css{
            color: cadetblue;
        }
        #JavaScript{
            color: chocolate;
        }

        #curtidas{
            background-color: blueviolet;  /* cor de fundo */
            color: brown;  /* cor da letra */
            padding: 5px 10px 5px 10px ;  /* espaço interno */
            border: 2px solid palevioletred; /* borda*/
            border-radius: 12px;             /* borda arredondada */
        }
